---
import Container from "./Container.astro";
import Button from "./Button.astro";
---

<main class="snap-y snap-mandatory relative w-full h-screen overflow-hidden">
  <div class="snap-center">
    <section
      class="h-screen w-full text-center relative overflow-hidden z-0 flex flex-col justify-end"
    >
      <!-- Overlay to blend the gradient smoothly with the background -->
      <div class="absolute top-0 left-0 w-full h-full z-20 overlay"></div>

      <div class="z-30 justify-start grid grid-cols-1 items-center lg:py-3 mb-4">
        <Container>
          <div class="z-50">
            <h1
              class="block text-white py-2 text-left transform-gpu"
              style="text-shadow: 0 0 60px #0000; font-family: 'Bebas Neue', sans-serif; 
                     background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));"
            >
              <div class="m-5">
                <span class="text-2xl font-thin md:text-3xl">INGRESO 2025</span>
                <br />
                <span
                  class="text-6xl font-thin md:text-[5.3rem] md:leading-[4.9rem] tracking-wide"
                  >TU PRIMERA <br />GRAN DECISION</span
                >
              </div>
            </h1>
          </div>
          <div
            class="mt-2 items-center z-50 justify-start md:justify-end flex bg-white bg-opacity-90 p-0.5"
          >
            <button
              class="buttonno px-4 font-bold mr-2"
              onclick="scrollToForm('#formu')"
              style=""
            >
              ¡Solicitar Admisión!
              <svg
                fill="currentColor"
                style="color: #B11111;"
                viewBox="0 0 24 24"
                class="icon rotate-90"
              >
                <path
                  clip-rule="evenodd"
                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                  fill-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </Container>
      </div>
      <div class="absolute top-0 left-0 w-full h-full overflow-hidden z-0">
        <picture class="w-full h-full">
          <source
            media="(max-width: 767px)"
            srcset=""
          />
          <source
            media="(min-width: 768px)"
            srcset=""
          />
          <img
            src=""
            class="w-full h-full object-cover z-0"
            alt="Inicia en Agosto"
          />
        </picture>
      </div>
    </section>
  </div>
</main>

<div class="grid grid-cols-3 items-center bg-[#ee1818] bg-auto text-white h-[40px] [&amp;>span]:flex [&amp;>span]:justify-center text-lg font-extrabold p-2 [&>span]:2xl:ml-64 [&>span]:xl:mx-52 [&>span]:md:mx-20 [&>span]:mx-5">
    <span>PRÁCTICO</span>
    <span>FLEXIBLE</span>
    <span>ACCESIBLE</span>
</div>

<style>
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color to blend gradient */
    z-index: 1;
  }

  .buttonno {
    position: relative;
    transition: all 0.3s ease-in-out;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0c2a71;
    gap: 10px;
    font-size: 17.5px;
  }

  .zoom-effect {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }

  .buttonno:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  .buttonno:hover .icon {
    transform: translate(4px);
  }

  .buttonno:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  .buttonno::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
</style>

<script is:inline>
  function scrollToForm() {
    var componente = document.getElementById("pedidoinfo"); // Obtener el componente

    // Calcular la posición del componente
    var componentePosicion = componente.offsetTop;

    // Hacer scroll hasta la posición del componente
    window.scrollTo({
      top: componentePosicion - 110,
      behavior: "smooth",
    });

    // Esperar un tiempo antes de aplicar el zoom
    setTimeout(function () {
      // Añadir la clase de efecto de zoom al componente
      componente.classList.add("zoom-effect");

      // Esperar un tiempo antes de quitar el zoom
      setTimeout(function () {
        // Quitar la clase de efecto de zoom
        componente.classList.remove("zoom-effect");
      }, 1000); // Ajusta el tiempo de espera según tus necesidades
    }, 500); // Ajusta el tiempo de espera según tus necesidades
  }
</script>

